$base-font-size: 14px !default;
$body-direction: ltr !default;
$content-padding: 2rem !default;

$navbar-height: 4.45rem !default;

$menu-padding: 10px 15px 10px 15px !default;
$menu-second-level-padding: 10px 15px 10px 20px !default;
$menu-third-level-padding: 10px 15px 10px 53px !default;
$menu-forth-level-padding: 10px 15px 10px 53px !default;

$menu-width: 260px !default;
